.productTable td, .productTable th{
    border: 1px solid #ddd;
    padding: 8px;
}

.productTable th{
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: #04AA6D;
    color: white;
}

.productTable input{
    width: 100px;
}

.productTable input:focus{
    width: 200px;
    padding: 1em;
}

.content {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}