.yo td, .yo th{
    border: 1px solid #ddd;
    padding: 8px;
}

.yo th{
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: #04AA6D;
    color: white;
}

.content {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}